<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Knight-Witch/kw-site-widgets@kw-product-carousel-refactor/components/kw-product-carousel/kw-product-carousel.css">
<script>
  window.KW_STOREFRONT_TOKEN = "YOUR_FOURTHWALL_STOREFRONT_TOKEN";
</script>
<script src="https://cdn.jsdelivr.net/gh/Knight-Witch/kw-site-widgets@kw-product-carousel-refactor/components/kw-product-carousel/kw-product-carousel.js" defer></script>

<div
  class="kw-product-carousel kw-plain-jacket-carousel"
  data-kw-carousel="plain-jackets"
  data-default-gender="all"
  data-default-category="vests"
  data-kwfw-limit="50">
</div>
